opentelemetry-collector:
  image:
    repository: otel/opentelemetry-collector
    tag: 0.129.0
    pullPolicy: IfNotPresent
  command:
    name: otelcol
  mode: statefulset
  ingress:
    enabled: true
    className: "nginx"
    hosts:
      - host: otel-collector.example.com
        paths:
          - path: /
            pathType: Prefix
            port: 4318
  podMonitor:
    enabled: true
  serviceMonitor:
    enabled: true
  presets:
    logsCollections:
      enabled: true
      includeCollectorLogs: true
  hostMetrics:
    enabled: true
  kubernetesAttributes:
    enabled: true
    extractAllPodLabels: true
    extractAllPodAnnotations: true
  kubeletMetrics:
    enabled: true
  kubernetesEvents:
    enabled: true
  clusterMetrics:
    enabled: true