n8n:
  ingress:
    enabled: true
    hosts:
      - host: n8n.example.com
        paths:
          - /
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 5Gi

  worker:
    enabled: true

  webhook:
    enabled: false

  valkey:
    enabled: true