controller:
  service:
    type: LoadBalancer
  ingressClassResource:
    name: nginx
    enabled: true
    default: true
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 90Mi
  nodeSelector: 
    ingress-ready: "true"
    kubernetes.io/os: linux
  tolerations:
    - effect: NoSchedule
      operator: Exists
  publishService:
    enabled: true
  hostPort:
    enabled: true
  extraArgs:
    publish-status-address: localhost

# namespaceOverride: ingress-nginx
