harbor:
  expose:
    type: nodePort
    tls:
      enabled: false
      certSource: auto
    nodePort:
      name: harbor
      ports:
        http:
          port: 30080
        https:
          port: 30443
        notary:
          port: 30093
      externalIPs:
        - 127.0.0.1
  externalURL: http://127.0.0.1:30080
      
  #   ingress:
  #     hosts:
  #       core: harbor.example.com
  #     className: nginx
  #     annotations:
  #       nginx.ingress.kubernetes.io/proxy-body-size: "0"
  #       nginx.ingress.kubernetes.io/ssl-redirect: "false"
  # externalURL: http://harbor.example.com
  harborAdminPassword: Harbor12345
  
  persistence:
    enabled: true
    resourcePolicy: "keep"
    persistentVolumeClaim:
      registry:
        size: 5Gi
      chartmuseum:
        size: 2Gi
      jobservice:
        size: 1Gi
      database:
        size: 1Gi
      redis:
        size: 1Gi
      trivy:
        size: 2Gi

  database:
    type: internal

  redis:
    type: internal

  trivy:
    enabled: true
    securityScanner:
      enabled: true
      vulnerabilityType: os,library

  notary:
    enabled: true
    persistence:
      enabled: true
      resourcePolicy: "keep"
      persistentVolumeClaim:
        size: 1Gi

  chartmuseum:
    enabled: true
    persistence:
      enabled: true
      resourcePolicy: "keep"
      persistentVolumeClaim:
        size: 2Gi

  portal:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m

  core:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m

  jobservice:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m

  registry:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m

  chartmuseum:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m

  trivy:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 200m
