appProjects:
  enabled: true
  projects:
    - name: project
      sourceRepos:
        - '*'
      destinations:
        - namespace: '*'
          server: '*'
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
      namespaceResourceWhitelist:
        - group: '*'
          kind: '*'
    - name: product
      sourceRepos:
        - '*'
      destinations:
        - namespace: '*'
          server: '*'
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
      namespaceResourceWhitelist:
        - group: '*'
          kind: '*'

argo-cd:
  fullnameOverride: argocd

  repoServer:
    resources:
      limits:
        memory: "512Mi"
      requests:
        memory: "512Mi"

  server:
    service:
      type: ClusterIP
      portHttp: 80
      portHttps: 443

    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 200m
        memory: 512Mi

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
      hostname: argocd.example.com
      path: /
      pathType: Prefix
          
  applicationset:
    enabled: false

  configs:
    params:
      server.insecure: true
    cm:
      create: true
      exec.enabled: true
      admin.enabled: true
      application.instanceLabelKey: argocd.argoproj.io/instance
      repositories:
        app-of-apps:
          url: https://github.com/SleepySouls/App-of-Apps.git
          type: git
          name: argocd-app-of-apps
          username: SleepySouls
          project: project
