appProjects:
  enabled: true
  projects:
    - name: project
      sourceRepos:
        - '*'
      destinations:
        - namespace: '*'
          server: '*'
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
      namespaceResourceWhitelist:
        - group: '*'
          kind: '*'

argocd:
  fullnameOverride: argocd
  server:
    resources:
      limits:
        memory: "512Mi"
      requests:
        memory: "512Mi"

  repoServer:
    resources:
      limits:
        memory: "512Mi"
      requests:
        memory: "512Mi"

  ingress:
    enabled: false
    hosts:
      - host: argocd.example.com
        paths:
          - /
    tls:
      - secretName: argocd-tls
        hosts:
          - argocd.example.com

  applicationset:
    enabled: false

  configs:
    cm:
      create: true
      exec.enabled: true
      admin.enabled: true
      application.instanceLabelKey: argocd.argoproj.io/instance
      repositories:
        app-of-apps:
          url: https://github.com/SleepySouls/App-of-Apps.git
          type: git
          name: argocd-app-of-apps
          username: SleepySouls

