argo-rollouts:
  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dashboard:
    enabled: true
    service:
      type: ClusterIP
  notifications:
    enabled: true
