argo-rollouts:
  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dashboard:
    enabled: true
    service:
      type: ClusterIP
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
      hosts:
        - rollouts.example.com
      path: /

  notifications:
    enabled: true
