argo-rollouts:
  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dashboard:
    enabled: true
    service:
      type: ClusterIP
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      hosts:
        - rollouts.khangvu.dev
      path: /
      tls:
        - secretName: argo-rollouts-tls
          hosts:
            - rollouts.khangvu.dev
  notifications:
    enabled: true
